@inject IApplicationUserService applicationUserService

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BetaProgram" asp-action="All">All Programs</a>
    </li>
    @if (!User.IsInRole(RoleConstants.AdminRole))
    {
        @if (User.IsInRole(RoleConstants.DefaultUserRole))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="CandidateApplication" asp-action="Mine">My Applications</a>
            </li>
        }
        @if (User.IsInRole(RoleConstants.OwnerRole))
        {
            var user = await applicationUserService.GetApplicationUserByIdAsync(User.Id());
            if (user.BetaProgramId == null)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BetaProgram" asp-action="Add">Create Program</a>
                </li>
            }
        }
        @if (this.User?.Identity?.IsAuthenticated ?? false)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="BetaProgram" asp-action="Mine">My Program</a>
            </li>
            @if (User.IsInRole(RoleConstants.DefaultUserRole) || User.IsInRole(RoleConstants.ModeratorRole))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="Received" asp-route-receiverId="@User.Id()">Received Payments</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="Sent" asp-route-ownerId="@User.Id()">Sent Payments</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Transaction" asp-action="Mine" asp-route-userId="@User.Id()">Made Transactions</a>
                </li>
            }
        }
    }
</ul>