@inject IApplicationUserService applicationUserService

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BetaProgram" asp-action="All">All Programs</a>
    </li>
</ul>