@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beta Testers</h1>
    <p>An easy and fun way to earn money by using your favourite apps</p>
    <img class="home-page-image" src="~/img/online-business-540487840-577047f23df78cb62c867e24.jpg" style="width: 75vh" />
</div>
