@model TaskFormModel
@{
	ViewBag.Title = "Add Task";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_TaskFormPartial" model="@Model" />

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}

